@use '../../styles';

.result-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.code-and-badges-panel {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;

  flex-wrap: wrap;
}

.rewards-panel {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

// Results

.results-collection {
  @media screen and (max-width: 600px) {
    visibility: hidden;
  }
}

.results {
  min-height: 12rem;
  margin-bottom: 5rem;
}

.results-header {
  text-align: center;
  color: styles.$main-text-color;
  font-family: styles.$header-font-family;

  margin-bottom: 0.5rem;
}
