@use '../../styles';

.container {
  display: flex;
  flex-direction: row;
  align-items: center;

  width: 100vw;
}

.timer-icon {
  width: 4rem;
  height: 4rem;

  margin: 1rem;
}

.time-remaining {
  color: styles.$main-text-color;
  font-family: styles.$font-family;
  font-size: 2rem;
}
