@use '../../styles';

.result-list-container {
  align-items: center;


}

// Results

.results-collection-container {
  min-height: 12rem;
  margin-bottom: 5rem;

  width: 100%;
}

.results-header {
  text-align: center;
  color: styles.$main-text-color;
  font-family: styles.$header-font-family;
  font-size: larger;

  margin-bottom: 0.5rem;
}

li {
  list-style-type: none;
}

.hits-message {
  margin: 2rem;
  font-family: styles.$font-family;
  font-size: 1.1rem;
}
