@use '../../styles';

.result-list-container {
  align-items: center;
}

// Results

.results-collection-container {
  min-height: 12rem;
  margin-bottom: 5rem;

  width: 100%;
}

.results-header {
  text-align: center;
  color: styles.$main-text-color;
  font-family: styles.$header-font-family;
  font-size: larger;

  margin-bottom: 0.5rem;
}

.result-cards-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
	
  justify-content: center;
  height: fit-content;

  padding-bottom: 4rem;
}

.results-message {
  margin: 2rem;
  margin-bottom: 3rem !important;

  font-family: styles.$font-family;
  font-size: 1.1rem;
}
