.loader {
  position: relative;
  top: 50%;
  left: 50%;
  height: 60px;
  width: 160px;
  margin: 1rem;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.circles {
  position: relative;
  left: 1rem;
  bottom: 3rem;
  height: 60px;
  width: 180px;
}

.circles span {
  position: absolute;
  top: 25px;
  height: 12px;
  width: 12px;
  border-radius: 12px;
  background-color: #efefef;
}

.circles span.one {
  right: 80px;
}

.circles span.two {
  right: 40px;
}

.circles span.three {
  right: 0px;
}

.circles {
  -webkit-animation: animcircles 0.5s infinite linear;
  animation: animcircles 0.5s infinite linear;
}

@-webkit-keyframes animcircles {
  0% {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
  }
  100% {
    -webkit-transform: translate(-40px, 0px);
    transform: translate(-40px, 0px);
  }
}

@keyframes animcircles {
  0% {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
  }
  100% {
    -webkit-transform: translate(-40px, 0px);
    transform: translate(-40px, 0px);
  }
}

@-webkit-keyframes animtop {
  0%,
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
}

.es-logo {
  margin-bottom: -0.5rem !important;
}
