@use '../../styles';

$error-color: #F86B63;

.code-editor-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.code-editor-container-error {
  display: flex;
  flex-direction: column;
  align-items: center;

  border: solid;
  border-color: $error-color;
  border-radius: 5%;
  padding: 1rem;
}

[data-icon='circle-exclamation'] {
  font-size: 1.5rem;
  align-self: flex-start;
  margin: 1rem 1rem 0 0;
}

.error-message {
  color: $error-color;
  font-family: styles.$font-family;
  font-weight: bold;

  margin: 0;
}

.hidden-error-message {
  visibility: hidden;
}