@use '../../styles';

// Text box

input {
    width: 100%;
    height: 100%;
    min-height: 40px;
    padding-left: 2.5rem;
    border-radius: 1rem;
    line-height: normal;
}

input::placeholder {
    font-family: styles.$subdued-text;
    font-size: 1.10rem;
    text-align: center;
}

// Results

.results {
    min-height: 12rem;
}

.results-header {
    text-align: center;
    color: styles.$main-text-color;
    font-family: styles.$header-font-family;

    margin-bottom: 0.5rem;
}

li {
    list-style-type: none;
}

.hits-message {
    margin: 2rem;
    font-family: styles.$font-family;
    font-size: large;
}