@use '../../styles';


.container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

img.timer-icon {
    width: 20%;
    height: 20%;

    margin: 1rem;
}

.time-remaining {
    color: styles.$main-text-color;
    font-family: styles.$font-family;
    font-size: 2rem;
}