@use '../../styles';

[data-icon^='circle'] {
  font-size: 2.5rem;
  align-self: flex-end;
  margin: 0.5rem 0.5rem 0 0;
}

[data-icon='circle-check'] {
  color: styles.$success-color;
}

[data-icon='circle-xmark'] {
  color: styles.$failure-color;
}

.search-result {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  width: fit-content;
  max-width: 16rem;

  height: fit-content;
  max-height: 30rem;

  margin: 0.5rem 1rem;
  padding: 1rem 1.5rem;

  overflow: hidden;

  background-color: styles.$result-background-color;
  box-shadow: 1px 4px 8px 0 styles.$result-shadow-color;
  transition: 0.3s;
}

.screenshot {
  display: block;
  max-width: 90%;
  max-height: 80%;
  width: auto;
  height: auto;

  margin: 2rem;
}

h3 {
  width: auto;
  max-width: 80%;
  height: auto;
  max-height: 20%;

  color: styles.$main-text-color;
  font-family: styles.$font-family;
  font-size: 1.5rem;

  display: -webkit-inline-box;
  line-clamp: 1;
  -webkit-line-clamp: 1;

  white-space: no-wrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.document-text {
  margin: auto;
}

p.result-body {
  font-size: 1rem;
  text-align: left;

  overflow: hidden;
  overflow-wrap: break-word;
  -webkit-box-orient: vertical;
  
  display: -webkit-inline-box;
  line-clamp: 3;
  -webkit-line-clamp: 3;
}
