@use '../../styles';

.score-container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;

    margin-right: 1rem;
}

.score-icon {
    margin: 1rem;
}

.score {
    color: styles.$main-text-color;
    font-family: styles.$font-family;
}